<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="reportConsole" connectionString="Data Source=THINKPAD;Initial Catalog=DEV_REPORT_CONSOLE_01;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="server" connectionString="Data Source=THINKPAD;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>